
## <summary>policy for fyd</summary>


########################################
## <summary>
##	Transition to fyd.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fyd_domtrans',`
	gen_require(`
		type fyd_t, fyd_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fyd_exec_t, fyd_t)
')


########################################
## <summary>
##	Execute fyd server in the fyd domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fyd_initrc_domtrans',`
	gen_require(`
		type fyd_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, fyd_initrc_exec_t)
')


########################################
## <summary>
##	Search fyd lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fyd_search_lib',`
	gen_require(`
		type fyd_var_lib_t;
	')

	allow $1 fyd_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read fyd lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fyd_read_lib_files',`
	gen_require(`
		type fyd_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, fyd_var_lib_t, fyd_var_lib_t)
')

########################################
## <summary>
##	Manage fyd lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fyd_manage_lib_files',`
	gen_require(`
		type fyd_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, fyd_var_lib_t, fyd_var_lib_t)
')

########################################
## <summary>
##	Manage fyd lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fyd_manage_lib_dirs',`
	gen_require(`
		type fyd_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, fyd_var_lib_t, fyd_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a fyd environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`fyd_admin',`
	gen_require(`
		type fyd_t;
		type fyd_initrc_exec_t;
		type fyd_var_lib_t;
	')

	allow $1 fyd_t:process { ptrace signal_perms };
	ps_process_pattern($1, fyd_t)

	fyd_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 fyd_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, fyd_var_lib_t)

')

